<%- include('header') -%>

<h2 id="heading">About page</h2>

<p>Welcome to our Todo List App! We aim to help you stay organized and manage your tasks effectively. With our user-friendly interface and powerful features, you can easily create, track, and complete your todos. Whether you're a student, professional, or anyone in need of a task management solution, our app is designed to simplify your life. Start organizing your tasks today and experience the benefits of a well-structured todo list!</p>

<%- include('footer') -%>