<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>to do List</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="icon" type="image/ico" href="image/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
</head>

<body>